body {
    height: 100%;
    margin: 0;
    font-family: 'Fugaz One', cursive;
    background-color: #3b2c1f; 
    color: #ffffff;
    text-align: center;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
}

@media (max-width: 768px) {
    body {
        font-size: 14px;
    }
}

header {
    background-color: #201102;
    padding: 10px 7px;
    color: #ffffff;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    width: 100%; 
    
}

header a {
    color: #ffffff;
    text-decoration: none;
    margin: 0 15px;
}

header a:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {
    header {
        flex-direction: column; 
        align-items: center;
        padding: 15px;
    }

    header .menu {
        flex-direction: column; 
        gap: 10px;
    }

    header a {
        font-size: 0.9em; 
    }
}

.container {
    margin: 5px auto;
    max-width: 800px;
    text-align: center; 
}

.logo {
    width: 420px;  
    height: auto;
}

h1 {
    font-size: 1em;
    margin: 5px 0;
}

h2 {
    font-size: 18px;
    margin-bottom: 15px;
    font-family: 'Poppins', sans-serif; 
}

.buttons-block {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    column-gap: 15px; 
    row-gap: 20px; 
    justify-content: center; 
    padding-left: 4rem;
    padding-right: 2rem;
    margin: 0 auto; 
}

.category-btn {
    background-color: #ffffff; 
    color: #201102; 
    padding: 10px;
    border: 4px solid #201102; 
    border-radius: 40px; 
    font-size: 0.8em; 
    font-weight: normal;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s; 
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    width: 95px; 
    height: 95px; 
    text-decoration: none;
    flex-direction: column;
    position: relative;
}

.category-btn img {
    max-width: 70%; 
    max-height: 70%; 
    object-fit: contain;
    margin: auto;
    transition: opacity 0.3s; 
    align-items: center;
}

.category-btn:hover {
    background-color: #201102; 
    color: #ffffff; 
}

.category-btn:hover img {
    opacity: 0; 
}

.category-btn::after {
    content: '';
    display: inline-block;
    width: 70%; 
    height: 70%; 
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 0;
    transition: opacity 0.3s; 
}

.category-btn:hover::after {
    opacity: 1; 
}

.category-btn.helmets-btn::after {
    background-image: url('icons/helmet_hover.png');
}

.category-btn.bridles-btn::after {
    background-image: url('icons/bridle_hover.png');
}

.category-btn.tops-btn::after {
    background-image: url('icons/top_hover.png');
}

.category-btn.saddles-btn::after {
    background-image: url('icons/saddle_hover.png');
}

.category-btn.gloves-btn::after {
    background-image: url('icons/gloves_hover.png');
}

.category-btn.saddle-pads-btn::after {
    background-image: url('icons/saddle_pad_hover.png');
}

.category-btn.pants-btn::after {
    background-image: url('icons/pants_hover.png');
}

.category-btn.decorations-btn::after {
    background-image: url('icons/decoration_hover.png');
}

.category-btn.shoes-btn::after {
    background-image: url('icons/shoes_hover.png');
}

.category-btn.leg-wraps-btn::after {
    background-image: url('icons/leg_wrap_hover.png');
}

.category-btn.hair-btn::after {
    background-image: url('icons/hair_hover.png');
}

.category-btn.saddle-bags-btn::after {
    background-image: url('icons/saddlebag_hover.png');
}

.category-btn.makeup-btn::after {
    background-image: url('icons/makeup_hover.png');
}

.category-btn.pets-btn::after {
    background-image: url('icons/pet_hover.png');
}

.category-btn.accessories-btn::after {
    background-image: url('icons/accessory_hover.png');
}

.category-btn.horses-btn::after {
    background-image: url('icons/horse_hover.png');
}

.category-btn span {
    position: absolute;
    bottom: 10px; 
    width: 100%;
    text-align: center;
}

main {
    flex: 1;
    display: flex;
    justify-content: center; 
    align-items: center;
    flex-direction: column;
}

footer {
    background: #201102;
    color: #ffffff;
    padding: 10px;
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 100; 
}

footer p {
    margin: 13px 0;
    font-size: 1em;
    font-family: 'Poppins', sans-serif; 
}

footer a {
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}
