body {
    margin: 0;
    font-family: 'Fugaz One', cursive;
    background-color: #3b2c1f;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: center;
}

@media (max-width: 768px) {
    body {
        font-size: 14px;
        padding: 0 10px; 
    }
}

.main-content {
    padding: 10px;
    align-items: center;
}

.content {
    padding: 5px;
    background-color: #3b2c1f;
    margin: 5px auto;
    max-width: 1200px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

header {
    background-color: #201102;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    padding: 10px;
    color: #ffffff;
    width: 100%;
    text-indent: 10px;
    flex-wrap: wrap;
}

header a {
    color: #ffffff;
    text-decoration: none;
    margin: 0 15px;
}

header a:hover {
    color: #ffffff;
}

@media (max-width: 768px) {
    header {
      flex-direction: column; 
      align-items: center;
      padding: 15px;
    }
  
    header .menu {
      flex-direction: column; 
      gap: 10px;
    }
  
    header a {
      font-size: 0.9em; 
  }
}

.items {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    width: calc(100% - 100px); 
    margin: 0 20px; 
}

.header-row, .item-card {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 10px;
    width: 100%; 
}

.header-row {
    background-color: #2c1905;
    padding: 10px;
    height: 35px; 
    line-height: 7px; 
    font-weight: bold;
    text-align: center;
    border: 3px solid #000000; 
    border-radius: 5px;
}

.header-row p {
    border-right: 3px solid #000000; 
}

.header-row p:last-child {
    border-right: none; 
}

.item-card {
    background-color: #352518;
    padding: 10px;
    border: 3px solid #1a0d01;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    align-items: center;
    text-align: center;
}

.item-card p {
    border-right: 3px solid #201102; 
    display: flex;
    justify-content: center; 
    align-items: center; 
}

.item-card p:last-child {
    border-right: none; 
}

.item-image {
    grid-column: 1 / 2;
    width: 25%; 
    height: auto;
    margin: auto; 
    border-right: 3px solid #201102;
    align-items: center;
}

.item-id {
    grid-column: 1 / 2;
    text-align: center;
    font-size: 14px;
    color: #ffffff;
    margin-top: 5px;
}

.item-name,
.item-location,
.item-price,
.item-level,
.item-reputation {
    display: flex;
    align-items: center;
    justify-content: center;
}

footer {
    font-family: 'Poppins', sans-serif;
    background-color: #201102;
    text-align: center;
    padding: 10px;
    color: #ffffff;
    width: 100%; 
    margin-top: auto;
}

footer a {
    color: #ffffff;
    text-decoration: none;
}

footer a:hover {
    color: #ffffff;
}
