body {
    margin: 0;
    font-family: 'Fugaz One', cursive;
    background-color: #000000;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: center;
}

@media (max-width: 768px) {
    body {
        font-size: 14px;
        padding: 0 10px; /* Add padding for mobile readability */
    }
}

.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}

header {
    background-color: #563075;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    padding: 10px;
    color: #ffffff;
    width: 100%;
    text-indent: 10px;
    flex-wrap: wrap;
}

header a {
    color: #ffffff;
    text-decoration: none;
    margin: 0 15px;
}


header a:hover {
    color: #ffffff;
}

@media (max-width: 768px) {
    header {
      flex-direction: column; /* Stack items vertically */
      align-items: center;
      padding: 15px;
    }
  
    header .menu {
      flex-direction: column; /* Stack menu items */
      gap: 10px;
    }
  
    header a {
      font-size: 0.9em; /* Adjust text size */
    }
  }

.content {
    text-align: center;
    padding: 20px;
    width: 100%;
}

.content h1 {
    font-family: 'Fugaz One', cursive;
    margin-bottom: 10px;
    font-weight: normal;
}

.content p {
    margin: 0 0 20px;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}

.items {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
}

.header-row, .item-card {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 10px;
    width: 100%;
}

.header-row {
    background-color: #ddd;
    padding: 10px;
    font-weight: bold;
}

.item-card {
    background-color: #fff;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    align-items: center;
}

.item-image {
    grid-column: 1 / 2;
    width: 100%;
    height: auto;
}

.item-id,
.item-name,
.item-price,
.item-level,
.item-reputation {
    display: flex;
    align-items: center;
    justify-content: center;
}

footer {
    font-family: 'Poppins', sans-serif;
    background-color: #563075;
    text-align: center;
    padding: 10px;
    color: #ffffff;
    width: 100%; 
    margin-top: auto;
}

footer a {
    color: #ffffff;
    text-decoration: none;
}

footer a:hover {
    color: #ffffff;
}
